@model List<bootstrapmvc.Models.Student>
@{
    ViewBag.Title = "_Index";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-sm-6 mt-2">
            <div class="p-3 bg-secondary text-white rounded text-center">
                <span class="badge bg-info fs-4">@ViewBag.ToplamOgrenci</span>
                <div>Toplam Öğrenci</div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm-6 mt-2">
            <div class="p-3 bg-secondary text-white rounded text-center">
                <span class="badge bg-success fs-4">@ViewBag.AktifOgrenci</span>
                <div>Aktif Öğrenci</div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm-6 mt-2">
            <div class="p-3 bg-secondary text-white rounded text-center">
                <span class="badge bg-danger fs-4">@ViewBag.SilinmisOgrenci</span>
                <div>Silinmiş Öğrenci</div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm-6 mt-2">
            <div class="p-3 bg-secondary text-white rounded text-center">
                <span class="badge bg-warning text-dark fs-4">@ViewBag.BolumSayisi</span>
                <div>Bölüm Sayısı</div>
            </div>
        </div>
    </div>
</div>

