@model List<bootstrapmvc.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-2">
            <div class="p-3 bg-secondary text-white rounded text-center">
                <span class="badge bg-info fs-4">@ViewBag.ToplamKitap</span>
                <div>Toplam Kitap</div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-2">
            <div class="p-3 bg-secondary text-white rounded text-center">
                <span class="badge bg-success fs-4">@ViewBag.AktifKitap</span>
                <div>Aktif Kitap</div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-2">
            <div class="p-3 bg-secondary text-white rounded text-center">
                <span class="badge bg-danger fs-4">@ViewBag.SilinmisKitap</span>
                <div>Silinmiş Kitap</div>
            </div>
        </div>
    </div>
</div>